.hero{
    background-image:url(../assets/background.png);
    background-repeat: no-repeat;
   background-size:cover;
   height: 1000px;
    background-position: center;
    background-color: #0A070B;
}@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: grifter;
    src: url(../assets/grifterbold.otf);
  }

  

*{
    margin: 0;
    box-sizing: border-box;
        /* outline: rgb(52, 245, 52) solid 1px; */
}


.hero{
    background-image:url(../assets/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 1000px;
    background-position: center;
    background-color: #0A070B;
   
 
}
.hero--row{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.pointer{
    cursor: pointer;
}

/* NAV BAR */

.nav{
    height: 180px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--link__btn{
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    font-weight: 500;
    height: 16px;
    transition: all 300ms ease;
}

.nav--link__btn:hover{
    transform: scale(1.1);
}


/* HERO/LANDING TITLE/PARA */

.hero--container{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 80%;
}

.hero--title__card{
    display: flex;
    margin-top: 18px;
}

.hero--title{
    color: #ef7a41;
    font: normal normal bold 76px/94px GRIFTER;
width: 100%;
max-width: 1000px;
}

.hero--title__br{
    border: 1px solid #FFFFFF;
    opacity: 0.22;
    margin-top: 50px;
    width: 900px;
}

.hero--title__para{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

/* HERO/LANDING COUNTDOWN/LINKS */

.hero--countlearn{
    display: flex;
    justify-content: space-between;
    margin-top: 208px;
    height: 28%;
}


.hero--countdowns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.hero--countdown__total-title{
    color: #ef7a41;
    font: normal normal bold 29px/30px GRIFTER;
    margin-bottom: 12px;
}

.hero--countdown__total-time{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;

}

.hero--countdown__annular-title{
    color: #ef7a41;
    font: normal normal bold 29px/30px GRIFTER;
    margin-bottom: 12px;
}

.hero--countdown__annular-time{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.hero--countdown__br{
    border: 1px solid #FFFFFF;
    opacity: 0.22;
    width: 450px;
}




.learn--links{
    width: 500px;
    height: 28%;
}

.learn--links__title{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 12px;
}

.learn--links__total{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef7a41;
    color: #FFFFFF;
    font: normal normal bold 29px/30px GRIFTER;
    height: 60px;
    width: 380px;
    border-radius: 3px;
    margin-bottom: 20px;
    transition: all 300ms ease;
    font-size: 24px;
    
}

.learn--links__annular{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #ef7a41;
    font: normal normal bold 29px/30px GRIFTER;
    height: 60px;
    width: 380px;
    border-radius: 3px;
    transition: all 300ms ease;
    font-size: 24px;
}

.learn--links__annular:hover{
    transform: scale(1.04);
}

.learn--links__total:hover{
    transform: scale(1.04);
}

@media (max-width: 1269px) {
    .hero--title{
        color: #ef7a41;
        font: normal normal bold 66px/94px GRIFTER;
    width: 100%;
    max-width: 1000px;
    }
    .hero--title__para{
        display: flex;
        align-items: center;
        color: #FFFFFF;
        width: 500px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    
    }
}

@media (max-width: 1035px) {
     .hero--countlearn{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;
     }

     .hero--title__para{
       display: none;
    
    }
    .hero--title{
        text-align: center;
    }
    .learn--links{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    .hero--countdown__br{
        border: 0px solid #FFFFFF;
        opacity: 0.22;
        width: 450px;
    }
    .hero--title__br{
    border: 0px solid #FFFFFF;
    opacity: 0.22;
    margin-top: 50px;
    width: 900px;
}
}

*{
    /* outline: pink 1px solid; */
}